.container {
    box-shadow: 22vw;
    margin: 3px 1px;
    border-radius: 2px;
    background-color: rgba(51, 51, 51, 0.025);
    border: rgba(51, 51, 51, 0.15) solid 0.5px;
}

.dropdown {
    font-family: 'Dm Sans', sans-serif;
    font-size: small;
    font-weight: 500;
    padding-left: 2vh;
}

.form-style {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.form-wrapper {
    position: relative;
    z-index: 2;
    left: -20px;
    color: rgba(89, 86, 192, 1);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.form-label {
    padding: 30px 150px;
    display: inline-block;
    border-radius: 1px;
    border: rgba(89, 86, 192, 1) dashed 2px;
    background-color: rgba(89, 86, 192, 0.1);
}

.upload-icon {
    filter: invert(39%) sepia(10%) saturate(4930%) hue-rotate(208deg) brightness(89%) contrast(87%);
    width: auto;
    height: 25vh;
    padding-left: 1vh;
}